/venv
/__pycache__
/template.png
/user.jpg
/hendlers/__pycache__
/keyboards/__pycache__
/database/__pycache__
/amplitude/__pycache__
/stablediffusion/__pycache__
/stablediffusion/user.jpg
/roop/__pycache__
